<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mapper.UserMapper">
    <cache></cache>
    <sql id="selectUser">
        `id`, `last_name` lastName, gender
    </sql>
    <select id="queryUserLikeLastNameAndGender" resultType="com.atguigu.pojo.User">
        select 
            <include refid="selectUser"></include>
        from t_user
        <trim prefix="where" prefixOverrides="and" suffixOverrides="and">
            <if test="lastName != null">
                last_name like concat('%', #{lastName},'%')
            </if>
            <if test="gender == 0 or gender == 1">
                and gender = #{gender}
            </if>
        </trim>

    </select>
    
    <select id="selectUserByUserChooseWhenOtherwise" resultType="com.atguigu.pojo.User">
        select 
            <include refid="selectUser"></include>
        
        from t_user
        <where>
            <choose>
                <when test="lastName != null">
                    last_name like concat('%', #{lastName},'%')
                </when>
                <when test="gender==0 or gender == 1">
                    gender = #{gender}
                </when>
                <otherwise>
                    1 = 1
                </otherwise>
            </choose>
        </where>
    </select>
    <!--如果希望增刪改操作把二級緩存也衝刷的話，那麽就要把flushCache = false 拿掉！-->
    <update id="updateUser" parameterType="User" flushCache="false">
        update t_user
        <set>
            <if test="lastName != null">
                 last_Name=#{lastName},
            </if>
            <if test="gender == 0 or gender == 1">
                gender=#{gender},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="queryUserByIds" resultType="User">
        select 
            <include refid="selectUser"></include>
        from t_user
        <where>
            <foreach collection="list" open="id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <insert id="insertMany" parameterType="User" >
        insert into t_user (`last_name`, `gender`) values
        <foreach collection="users" item="user" separator=",">
            (#{user.lastName}, #{user.gender})
        </foreach>
    </insert>

    <select id="queryUserAll" resultType="user">
        select
        <include refid="selectUser"></include>
        from
        t_user
    </select>
    <!--如果需要廢棄向二級緩存刷數據的話，那麽把useCache = false標注上。-->
    <select id="queryUserById" resultType="User">
        select
        <include refid="selectUser"></include>
        from
        t_user
        where `id` = #{id}
    </select>
</mapper>